# MacOS
.DS_Store

# IDE
.idea
.vscode

# Default TypeSpec output
tsp-output/

# Dependency directories
node_modules/

# typescript
*.tsbuildinfo
next-env.d.ts

# local env files
.env*.local

# .npmrc
**/__generated-types__/**

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/*.lock